body {
	background-color: red;

}
header {
	background-color: white;
	display: flex;
	box-shadow: 5px 5px 15px black;
}
header img {
	width: 147px;
	height: 147px;
	border-radius: 50%; 

}
header h1{
	width:83%;
	text-align: center;
	font-size: 58px;
	font-family: 'BioRhyme', serif;
	text-shadow: 5px 5px 5px silver;
	transition: all 3s;
}

header h1:hover{
	color: #26bce0;
	text-shadow: 5px 5px 5px yellow;
	cursor: pointer;
	transform: scale(1.5) rotate(360deg);
	transition: all 3s;
}